
/* Style variables
//SCREEN SIZES FOR MEDIA QUERIES
$desktop-screen: 900px;
$tablet-screen: 768px;
$mobile-screen: 450px;

$below-desktop: '(max-width: #{$desktop-screen - 1})';
$tablet-up: '(min-width: #{$tablet-screen})';
$below-tablet: '(max-width: #{$tablet-screen - 1})';
$mobile-up: '(min-width: #{$mobile-screen})';
$below-mobile: '(max-width: #{$mobile-screen - 1})';

$cream: #ece4df;
$green1: #9abda7;
$green2: #3c725b;
$green3: #214738;
$green4: #031d12;
$green5: #36633d;
*/
@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

html {
  background-image: url('./assets/josh-calabrese-unsplash.png');  
  background-size: cover;
}

footer {
  text-align: center;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #031d12;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 5px;
}

.portfolio {
  display: flex;  
  position: relative;
  margin: 0 auto;
  width: 900px;
}

.content-area {
  width: 650px;
  margin: 100px auto 80px 20% ;
  margin-left: 20%;
}

p {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: #3c725b;
}

a:visited {
  text-decoration: none;
}
a:link {
  text-decoration: nones;
}
a:hover{
  color: #9abda7;
}

/* Override Chrono styles */
.timeline-controls {
  margin-bottom: 60px;
  background: rgba(229, 229, 229, 0.00)!important;
  display: none !important;
}

.timeline-main-wrapper {
  width: auto!important;
}

.timeline-card-content {
  min-height: none !important;
}

.timeline-item-title {
  overflow: visible !important;
}

.show-less {
  max-height: none !important;
}

.show-more {
  visibility: hidden !important;
  height: 0 !important;
}

.css-8v2xrm-MediaDetailsWrapper{
  padding: 0 !important;
}

.css-42mkpd-TimelineItemContentWrapper {
  min-height: none !important;
}

.using-icon {
  img {
    cursor: default;
  }
}

.ToolbarWrapper-sc-exupb5-0 {
  display: none !important; 
}

.TimelineItemContentWrapper-sc-d7qjm1-0.ilhOFy  {
 justify-content: center !important;
}

.TriangleIconWrapper-sc-d7qjm1-11 {
  display: none !important;
}
